table {
    /*	font-family:'Malgun Gothic'; */
  font-size:11pt;
  border-collapse: collapse;
  table-layout:fixed;
  margin: 20px 0px 20px 0px;
}
table, th, td {
  border: 1px solid gray;
}
td, th {
  padding: 3px 5px 3px 5px;
}
th {
  text-align: center;
  background-color: lightcyan;
  font-weight: normal;
}

.box { /* multiple pages in single div*/
/*	font-family: Malgun Gothic, Verdana, Geneva, Arial, Helvetica, sans-serif; */
/*	font-size: 15px; */
  border: 1px solid lightgray;
  padding: 10px;
/*	margin: 10px; */
}
